{% extends 'base.html.twig' %}

{% block title %}Toutes les taches{% endblock %}

{% block body %}


    <table>
        <thead>
            <tr>
                <th>Couleur</th>
                <th>Projet</th>
                <th>Tache</th>
                <th>Début</th>
                <th>Fin</th>
                <th>temps de travail</th>
                <th>Facturé</th>
            </tr>
        </thead>
        <tbody>

            {% for task in tasks %}
            {% set project = task.getProject() %}
            <tr>
                <td style="background-color: {{ project.color }};"></td>
                <td>{{ project.name }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.startAt | date('d-m-Y H:i') }}</td>
                <td>{{ task.endAt | date('d-m-Y H:i') }}</td>
                {# endDate and startDate are strings or DateTime objects #}
                {% set difference = date(task.endAt).diff(date(task.startAt)) %}
                {% set leftDays = difference.days %}
                {% if leftDays == 1 %}
                    <td>1 day</td>
                {% else %}
                    <td>{{ leftDays }} days</td>
                {% endif %}

                <td>{{ task.isInvoiced ? 'oui' : 'non' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center"><a class="btn" href="{{ path('task_create') }}">Ajouter une tache</a></div>

{% endblock %}
