{% extends 'base.html.twig' %}

{% block title %}Toutes les taches{% endblock %}

{% block body %}

    <div class="text-center">
        <h1>Rechercher une tache par période </h1>
        <form method="get" action="{{ path('task') }}">
            <input type="date" name="s" value="{{ start ?? "" }}">
            <input type="date" name="e" value="{{ end ?? "" }}">
            <button type="submit" class="btn">Rechercher</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Couleur</th>
                <th>Projet</th>
                <th>Tache</th>
                <th>Début</th>
                <th>Fin</th>
                <th>temps de travail</th>
                <th>Facturé</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>

            {% for task in tasks %}
            {% set project = task.getProject() %}
            <tr>
                <td style="background-color: {{ project.color }};"></td>
                <td><a href="{{ path('_display', {'id':project.id }) }}">{{ project.name }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.startAt | date('d-m-Y H:i') }}</td>
                <td>{{ task.endAt | date('d-m-Y H:i') }}</td>
                <td>
                    {% if task.getDiffinD == 1 %}
                        {{ task.getDiffinD ~ ' jour' }}
                    {% elseif task.getDiffinD > 1 %}
                        {{ task.getDiffinD ~ ' jours' }}
                    {% endif %}
                    {% if task.getDiffinH == 1 %}
                        {{ task.getDiffinH ~ ' heure' }}
                    {% elseif task.getDiffinH > 1 %}
                        {{ task.getDiffinH ~ ' heures' }}
                    {% endif %}
                    {% if task.getDiffinM == 1 %}
                        {{ task.getDiffinM ~ ' minute' }}
                    {% elseif task.getDiffinM > 1 %}
                        {{ task.getDiffinM ~ ' minutes' }}
                    {% endif %}
                </td>
                <td>
                    {% if task.isInvoiced == false %}
                        <a class="btn" href="{{ path('task_invoice',{'id' : task.id}) }}">facturer</a>
                    {% else %}
                        facturé
                    {% endif %}
                </td>
                <td>
                    <a class="btn" href="{{ path('task_update', {'id': task.id}) }}">éditer</a>
                    <a class="btn-danger" href="{{ path('task_delete', {'id': task.id}) }}">supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center"><a class="btn" href="{{ path('task_create') }}">Ajouter une tache</a></div>

{% endblock %}
